<!--<main>-->
<!--  <div class="container">-->
<!--    <div class="container_main">-->
<!--      <p class="title_block_with_cards">Да, рекомендуем</p>-->

<!--      <div class="block_with_cards">-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets/one_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets/two_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//one_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//two_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//two_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//one_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//two_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//one_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//one_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//two_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//one_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//two_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//two_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//one_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//two_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--        <div class="ad_card">-->
<!--          <div class="image_card">-->
<!--            <img src="assets//one_image_card.png" alt="Картинка">-->
<!--          </div>-->
<!--          <div class="card_description">-->
<!--            <p class="title_card">Гитара Fender</p>-->
<!--            <p class="price_card">20 000 ₽</p>-->
<!--            <p class="address_card">Москва, Ленинский проспект</p>-->
<!--            <p class="date_card">Сегодня 14:12</p>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</main>-->
