.Card-Box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.goodlist {
  border: 2px solid #55c5e9; /* Рамка вокруг фотографии */
  margin-right: 24px;
  margin-bottom: 32px;
  width: 306px;
  height: 336px;
  float: left;
  padding: 5px;
}





