
@media (max-width: 1299.98px) {
  .container {
    width: 90%;
  }

  .ad_card:nth-child(4n) {
    margin-right: 24px;
  }

  .ad_card:nth-child(3n) {
    margin-right: 0;
  }
}
@media (max-width: 1073.98px) {
  .ad_card:nth-child(3n) {
    margin-right: 24px;
  }
}
@media (max-width: 991.98px) {
  .ad_card:nth-child(3n) {
    margin-right: 24px;
  }

  .ad_card:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 762.98px) {
  .ad_card:nth-child(3n) {
    margin-right: 0;
  }

  .header {
    height: 185px;
  }

  .container_header_bottom {
    flex-direction: column;
  }
}
@media (max-width: 706.98px) {
  .ad_card {
    flex-direction: row;
    gap: 24px;
    width: 90%;
  }
}
@media (max-width: 552.98px) {
  .ad_card:nth-child(2n) {
    margin-right: 24px;
  }

  .ad_card:nth-child(3n) {
    margin-right: 24px;
  }

  .ad_card {
    flex-direction: column;
    gap: 8px;
  }

}
@media (max-width: 463.98px) {
  .header {
    height: 225px;
  }
}

.card-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
//.card {
//  width: 306px;
//  height: 368px;
//  border-radius: 4px;
//  padding: 20px; /* Расстояние от картинки до рамки */
//  float: left;
//  background: #666; /* Цвет фона */
//  margin-right: 10px; /* Отступ справа */
//  margin-bottom: 10px; /* Отступ снизу */
//  //border: 2px solid #55c5e9;
//  display:flex;
//  flex-wrap:wrap;
//  //height: 306px;
//  //width: 336px;
//  //flex: 1 0 auto;
//  //position: relative;
//  //overflow: hidden;
//}
//
//.card-name{
//position: relative;
//  //margin-top: 20px;
//  //margin-left: 5px;
//  height: 2px;
//  font-size: 18px;
//  font-weight: 600;
//  color: #3b82f6;
//}
//.card-cost {
//  height: 24px;
//  font-size: 18px;
//  font-weight: 600;
//  color: #1e293b;
//}
//.card-location {
//  display: flex;
//  height: 20px;
//  font-size: 14px;
//  font-weight: 400;
//  color: #64748b;
//}
//.card-date {
//  height: 20px;
//  font-size: 14px;
//  font-weight: 400;
//  color: #64748b;
//}
//
//  .image_card {
//    width: 306px;
//    height: 240px;
//    margin-bottom: 8px;
//    border-radius: 4px;
//    overflow: hidden;
//    .img{
//      width: 100%;
//      height: 100%;
//      transition: transform 0.3s;
//      object-fit: cover;
//    }
//
//  }










