





<!--<html>-->
<!--<head>-->
<!--&lt;!&ndash;  <title>Slide Navbar</title>&ndash;&gt;-->
<!--&lt;!&ndash;  <link rel="stylesheet" type="text/css" href="slide navbar style.css">&ndash;&gt;-->
<!--  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="main">-->
<!--  <input type="checkbox" id="chk" aria-hidden="true">-->

<!--  <div class="signup">-->
<!--    <form>-->
<!--      <label for="chk" aria-hidden="true">Sign up</label>-->
<!--      <input type="text" name="txt" placeholder="User name" required="" [(ngModel)]="signupObj.userName">-->
<!--      <input type="email" name="email" placeholder="Email" required="">-->
<!--      <input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="signupObj.password">-->
<!--      <button (click)="onSignup()">Sign up</button>-->
<!--    </form>-->
<!--  </div>-->
<!--  -->
<!--  <div class="login">-->
<!--    <form>-->
<!--      <label for="chk" aria-hidden="true">Login</label>-->
<!--      <input type="email" name="email" placeholder="Email" required="" [(ngModel)]="loginObj.login">-->
<!--      <input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="loginObj.password">-->
<!--      <button (click)="onLogin()">Login</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->





<!--<div class="dialog">-->
<!--  <div class="dialog-header">-->
<!--    <h4 class="dialog-header-text">Авторизация</h4>-->
<!--    <div class="close_dialog_header">-->
<!--      <button class="close_dialog_header" routerLink="/" >-->
<!--        <img src="assets/times.jpg" >-->
<!--      </button>-->
<!--    </div>-->

<!--    <div class="container">-->
<!--      <div class="screen">-->
<!--        <div class="screen__content">-->
<!--          <form class="login">-->
<!--            <div class="login__field">-->
<!--              <i class="login__icon fas fa-user"></i>-->
<!--              <input type="text" class="login__input" placeholder="User name / Email" [(ngModel)]="signupObj.">-->
<!--            </div>-->
<!--            <div class="login__field">-->
<!--              <i class="login__icon fas fa-lock"></i>-->
<!--              <input type="password" class="login__input" placeholder="Password" [(ngModel)]="signupObj.password">-->
<!--            </div>-->
<!--            <button class="button login__submit">-->
<!--              <span class="button__text">Log In Now</span>-->
<!--              <i class="button__icon fas fa-chevron-right"></i>-->
<!--            </button>-->
<!--          </form>-->
<!--          <div class="social-login">-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--  </div>-->

<!--</div>-->

<!--<div class="flex flex-column md:flex-row">-->
<!--  <div class="w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5">-->
<!--    <div class="flex flex-wrap justify-content-center align-items-center gap-2">-->
<!--      <label class="w-6rem">Username</label>-->
<!--      <input pInputText id="username" type="text" class="w-12rem" />-->
<!--    </div>-->
<!--    <div class="flex flex-wrap justify-content-center align-items-center gap-2">-->
<!--      <label class="w-6rem">Password</label>-->
<!--      <input pInputText id="password" type="password" class="w-12rem" />-->
<!--    </div>-->
<!--    <p-button label="Login" icon="pi pi-user" styleClass="w-10rem mx-auto"></p-button>-->
<!--  </div>-->
<!--  <div class="w-full md:w-2">-->
<!--    <p-divider layout="vertical" styleClass="hidden md:flex"><b>OR</b></p-divider>-->
<!--    <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'"><b>OR</b></p-divider>-->
<!--  </div>-->
<!--  <div class="w-full md:w-5 flex align-items-center justify-content-center py-5">-->
<!--    <p-button label="Sign Up" icon="pi pi-user-plus" styleClass="p-button-success w-10rem"></p-button>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="container">-->
<!--  <div class="screen">-->
<!--    <div class="screen__content">-->
<!--      <form class="login">-->
<!--        <div class="login__field">-->
<!--          <i class="login__icon fas fa-user"></i>-->
<!--          <input type="text" class="login__input" placeholder="User name / Email">-->
<!--        </div>-->
<!--        <div class="login__field">-->
<!--          <i class="login__icon fas fa-lock"></i>-->
<!--          <input type="password" class="login__input" placeholder="Password">-->
<!--        </div>-->
<!--        <button class="button login__submit">-->
<!--          <span class="button__text">Log In Now</span>-->
<!--          <i class="button__icon fas fa-chevron-right"></i>-->
<!--        </button>-->
<!--      </form>-->
<!--      <div class="social-login">-->
<!--        -->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->








<!--<p>register works!</p>-->

<!--<form [formGroup]="form">-->
<!--  <input type="text" formControlName="login" />-->
<!--  <br>-->
<!--  <input type="text" formControlName="password" />-->
<!--</form>-->
