.login-btn {
  display: flex;
  align-items: center;
  gap: 4px;
  color: blue;
  .svg__person {
    margin-right: 4px;
  }
  & svg {
    fill: currentColor;
  }
  &:hover {
    color: black;
  }
}
.UserMenu {
  width: 1296px;
  height:844px;
  //width: 416px;
  //height: 360px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  //top: 40px;
  border-radius: 6px;
  background-color: white;
  box-shadow: -5px 5px 5px rgba(30, 41, 59, 0.3),
  5px 5px 5px rgba(30, 41, 59, 0.3), 0px 5px 5px rgba(30, 41, 59, 0.3);
}

