<ul>
<!--            <div class="image_card" (click)="redirectToProductDetails(advert.id)">-->
<!--              <div class="image_card" routerLink="good-descrip">-->
                   <div class="image_card" routerLink="link">
              <img class="img" [src]="imageSrcCreator(advert.imagesIds[0])" alt="">
            </div>
  <li  class="name">{{ advert.name }}</li>
  <li class="cost">{{ advert.cost }}</li>
  <li class="location">{{ advert.location }}</li>
  <li class="date"></li>
</ul>


<!--<div class="total"  *ngFor="let advert of adverts;" >-->
<!--  <div class="card_img">-->
<!--          <img [src]="imageSrcCreator(advert.imagesIds[0])" alt="">-->
<!--  </div>-->
<!--</div>-->
