<!--<a [routerLink]="link">-->
<div class="card">

  <a class="text_decoration" routerLink="{{link}}">
                   <div class="image_card">
              <img class="img" [src]="imageSrcCreator(advert.imagesIds[0])" alt="">
            </div>
    <div class="cont">
<!--      <h4><b>{{ advert.name }}</b></h4>-->
       <p  class="name">{{ advert.name }}</p>
       <p class="cost">{{ advert.cost  }} ₽</p>
       <p class="location">{{ advert.location }}</p>
       <p class="date"></p>
<!--      <p class="date">  {{ advert.createdAt | date : "HH:mm dd.MM.YYYY" : undefined : "ru" }} </p>-->
    </div>
</a>
</div>
<!--</a>-->
<!--<router-outlet></router-outlet>-->



